:root{
    --color1: darkorange;
    --color2: darkgreen;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: grey
}

h1 {
    margin: 0;
}

.container {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(to left top, var(--color1) 40%, var(--color2) 60%);
    padding: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.registration {
    display: flex;
    flex-direction: column;
}

.registration label {
    font-weight: 800;
}

.registration input {
    width: 250px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.button {
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}
.btn-success{
    background-color: darkgreen;
}
.btn-warning{
    background-color: darkorange;
}
.nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.exit{
    position: absolute;
    top: 10px;
    right:10px;
}
.info{
    position: relative;
}